html {
  min-height: 100%;
}

body {
  min-height: 100%;
  padding: 40px 0;
  background: honeydew;
  font-family: "Cabin";
}

.main-container {
  max-width: 640px;
  margin: auto;
}

.image-row {
  padding: 10px 0;
  text-align: center;
}

.name-row {
  padding: 10px 0;
  text-align: center;
  font-size: 40px;
  font-family: "Roboto Condensed";
  font-weight: bold;
}

.icons-row {
  padding: 10px 0;
  text-align: center;
}

.links-row {
  padding: 20px 0;
}

.avatar-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 128px;
}

.icon {
  font-size: 25px;
  margin: 0 10px;
  text-decoration: none;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.item {
  background-color: darkslategray;
  border-radius: 1000px;
  padding: 5px;
  padding-right: 53px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.link-text {
  color: white;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  font-size: medium;
}
